**
!.gitignore
!author
!Makefile

!eval_tests/
!eval_tests/*.test

!src/
!src/*.c

!include/
!include/*.h

#!libft/
#!libft/src/ft_*.c
#!libft/libft.h
#!libft/Makefile

!obj/
!obj/.gitinclude

#!libft/obj/
#!libft/obj/.gitinclude
